<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="/" id="logo">개인 미니 프로젝트 <em>by 전성환</em></a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li><a href="left-sidebar.html">회원가입</a></li>
								<li>
									<a href="/camping/list">캠핑장</a>
									<ul>
										<li><a href="/camping/list">캠핑장 목록</a></li>
										<li><a href="/camping/find">캠핑장 검색</a></li>
										<li><a href="/camping/food">근처 맛집</a></li>
										<li><a href="/camping/festival">근처 축제</a></li>
									</ul>
								</li>
								<li><a href="right-sidebar.html">캠핑 용품</a></li>
								<li><a href="two-sidebar.html">동영상 검색</a></li>
								<li><a href="no-sidebar.html">커뮤니티</a></li>
								<li th:if="${session.id == null}"><a href="/login">로그인</a></li>
								<li style="color: white" th:if="${session.id != null}">[[${session.name}]]님 로그인되었습니다</li>
								<li th:if="${session.id != null}"><button @click="logout()">로그아웃</button></li>
							</ul>
						</nav>
				</div>
		<script>
		const logoutApp = Vue.createApp({
			data() {
				return {

				}
			},
			
			methods: {
				// 로그아웃
				logout() {
					axios.get('http://localhost/member/logout_vue/')
					.then(response => {
						if(response.data === 'yes') {
							location.href = "/"
						}
					})
				},
			}
		})
		logoutApp.config.compilerOptions.delimiters = ['((', '))']
		logoutApp.mount("#nav")
	</script>
</body>
</html>